<?xml version="1.0"?>

<launch>
  <arg name="camera" default="camera" />
  <arg name="tf_prefix" default="" />

  <param name="/camera/driver/use_device_time"              value="false" />
  <param name="/camera/driver/data_skip"              value="0" />
  <arg name="pi/2" value="1.5707963267948966" />
  <arg name="pi" value="3.141592654" />
  <arg name="optical_rotate" value="0 0 0 -$(arg pi/2) 0 -$(arg pi/2)" />

  <node pkg="tf" type="static_transform_publisher" name="$(arg camera)_base_link"
    args="0 0.065  0 0 0 0 $(arg tf_prefix)/$(arg camera)_link $(arg tf_prefix)/$(arg camera)_depth_frame 100" />
  <node pkg="tf" type="static_transform_publisher" name="$(arg camera)_base_link1"
    args="0 0.045 0 0 0 0 $(arg tf_prefix)/$(arg camera)_link $(arg tf_prefix)/$(arg camera)_rgb_frame 100" />
  <node pkg="tf" type="static_transform_publisher" name="$(arg camera)_base_link2"
    args="$(arg optical_rotate) $(arg tf_prefix)/$(arg camera)_depth_frame $(arg tf_prefix)/$(arg camera)_depth_optical_frame  100" />
  <node pkg="tf" type="static_transform_publisher" name="$(arg camera)_base_link3"
    args="$(arg optical_rotate) $(arg tf_prefix)/$(arg camera)_rgb_frame $(arg tf_prefix)/$(arg camera)_rgb_optical_frame 100" />


  <node pkg="tf" type="static_transform_publisher" name="camera_velvet_link"
        args="0.86 -0.01 0.9 3.16 0.795 0.02 /yumi_body /camera_link 50" /> <!--hand calibrated --> 
  
  <include file="$(find openni2_launch)/launch/openni2.launch">
    <arg name="publish_tf" value="false" />
  </include>
  
  <node pkg="rostopic" type="rostopic" name="camera_monitor"
        args="hz /camera/depth/camera_info" />  

   
</launch>

