<?xml version="1.0"?>

<launch>

  <node pkg="tf" type="static_transform_publisher" name="kinect_yumi_link"
        args="-0.349 0.319 0.513 -1.9717 -0.0276 -2.0697 /yumi_body /kinect2_link 50" /> <!--hand calibrated --> 
  
  <include file="$(find kinect2_bridge)/launch/kinect2_bridge.launch">
      <arg name="publish_tf" value="true" />
      <arg name="depth_method" value="cuda" />
      <arg name="fps_limit" value="3" />
      <arg name="max_depth" value="2.5" />
  </include>
  
   
</launch>

