<?xml version="1.0"?>
<launch> 

    <arg name="name" default="yumi" doc="The robot name. Ensure this is the same name you give to the arm in the urdf instance."/>

    <!-- Load joint controller configurations from YAML file to parameter server -->
    <rosparam file="$(find yumi_control)/config/traj_controllers.yaml" command="load" ns="/yumi"/>
    <arg name="controllers" default="joint_state_controller joint_traj_vel_controller_l joint_traj_vel_controller_r gripper_effort_pos_controller_r gripper_effort_pos_controller_l"/>
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="$(arg controllers)" ns="/yumi"/>

	<!--  Hardware interfaces for the joints and grippers -->    
    <arg name="arms_hardware_interface" default="VelocityJointInterface"/>
    <arg name="grippers_hardware_interface" default="EffortJointInterface"/>


    <!-- URDF / SRDF parameters -->
    <param name="robot_description" command="$(find xacro)/xacro.py '$(find yumi_description)/urdf/yumi.urdf.xacro' arms_interface:=$(arg arms_hardware_interface) grippers_interface:=$(arg grippers_hardware_interface)" />
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model yumi -param robot_description"  respawn="false" output="screen" />


    <!-- Network parameters -->
    <!--arg name="ip" default="192.168.1.1"/--> <!--when talking to a virtual controller -->
    <arg name="ip" default="192.168.125.1"/> <!--when talking to the real robot controller -->
    <arg name="port" default="80"/>


    <!-- EGM parameters -->
    <arg name="egm" default="true"/>
    <rosparam file="$(find yumi_hw)/config/egm_rws_config.yaml" command="load" ns="/yumi/yumi_hw" if="$(arg egm)"/>


    <!-- Calls to yumi_hw members -->
    <!-- The real hardware interface -->
    <node required="true" name="yumi_hw" pkg="yumi_hw" type="yumi_hw_ifce_node" respawn="false" ns="/yumi" output="screen"> 
        <param name="name" value="$(arg name)" />
        <param name="ip" value="$(arg ip)"/>
        <param name="port" value="$(arg port)"/>
        <param name="use_egm" value="$(arg egm)"/>
    </node>
     

    <node required="true" name="yumi_gripper" pkg="yumi_hw" type="yumi_gripper_node" respawn="false" ns="/yumi" output="screen"> 
        <param name="ip" value="$(arg ip)"/>
    </node>


    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
        <remap from="/joint_states" to="/yumi/joint_states" />
    </node>
    <node name="joint_remapper" pkg="yumi_hw" type="egm_joints_remap.py" />


    <!-- Show robot in Rviz   -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find yumi_description)/launch/yumi.rviz"/>

</launch>

