<?xml version="1.0"?>
<launch> 

	<arg name="name" default="yumi" doc="The robot name. Ensure this is the same name you give to the arm in the urdf instance."/>
	
	<arg name="ip" default="192.168.125.1"/>
	<rosparam file="$(find yumi_control)/config/position_controllers.yaml" command="load" ns="/yumi"/>
	<rosparam file="$(find yumi_control)/config/gripper_controllers.yaml" command="load" ns="/yumi"/>
	<arg name="arm_controllers" default="joint_state_controller 
									 joint_pos_controller_1_r
									 joint_pos_controller_2_r
									 joint_pos_controller_7_r
									 joint_pos_controller_3_r
									 joint_pos_controller_4_r
									 joint_pos_controller_5_r
									 joint_pos_controller_6_r
 									 joint_pos_controller_1_l
									 joint_pos_controller_2_l
									 joint_pos_controller_7_l
									 joint_pos_controller_3_l
									 joint_pos_controller_4_l
									 joint_pos_controller_5_l
									 joint_pos_controller_6_l"/>
    <node name="arm_controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="$(arg arm_controllers)" ns="/yumi"/>

	<!--  Hardware interfaces for the joints and grippers -->    
    <arg name="arms_hardware_interface" default="PositionJointInterface"/>
    <arg name="grippers_hardware_interface" default="EffortJointInterface"/>

    <!-- URDF / SRDF parameters -->
    <param name="robot_description" command="$(find xacro)/xacro.py '$(find yumi_description)/urdf/yumi.urdf.xacro' arms_interface:=$(arg arms_hardware_interface) grippers_interface:=$(arg grippers_hardware_interface)" />

	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
		<remap from="/joint_states" to="/yumi/joint_states" />
	</node>

	<!-- the real hardware interface /-->
	<node required="true" name="yumi_hw" pkg="yumi_hw" type="yumi_hw_ifce_node" respawn="false" ns="/yumi" output="screen"> <!--launch-prefix="xterm -e gdb - -args"-->
		<param name="name" value="$(arg name)" />
		<param name="ip" value="$(arg ip)"/>
	</node>


    <node required="true" name="yumi_gripper" pkg="yumi_hw" type="yumi_gripper_node" respawn="false" ns="/yumi" output="screen"> 
        <param name="ip" value="$(arg ip)"/>
    </node>


	<node name="yumi_joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
        <rosparam param="source_list">["/yumi/joint_states", "/yumi/gripper_states"]</rosparam>
        <remap from="/joint_states" to="/yumi/joint_states" />
    </node>

    <node name="yumi_robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
        <remap from="/joint_states" to="/yumi/joint_states" />
    </node>

    <node name="joint_remapper" pkg="yumi_hw" type="rws_egm_joints_remap.py" />


</launch>

