<?xml version="1.0"?>
<launch> 

<arg name="controllers" default="joint_state_controller joint_trajectory_pos_controller"/>
<arg name="hardware_interface" default="PositionJointInterface"/>

<include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
</include>

<!-- the urdf/sdf parameter -->
<param name="robot_description" command="$(find xacro)/xacro.py $(find yumi_description)/urdf/yumi_nogrippers.urdf.xacro prefix:=$(arg hardware_interface)"/>

<node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model yumi"  respawn="false" output="screen" />

<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
    <remap from="/joint_states" to="/yumi/joint_states" />
</node>

<!-- Load joint controller configurations from YAML file to parameter server -->
<rosparam file="$(find yumi_control)/config/controllers.yaml" command="load" ns="/yumi"/>

<!-- load the controllers -->
<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="$(arg controllers)" ns="/yumi">
</node>

</launch>

