<?xml version="1.0"?>
<launch> 
	
	<!-- Load joint controller configurations from YAML file to parameter server -->
	<rosparam file="$(find yumi_control)/config/controllers.yaml" command="load" ns="/yumi"/>
	<arg name="controllers" default="joint_state_controller joint_trajectory_pos_controller yumi_gripper_r_effort_position_controller yumi_gripper_l_effort_position_controller"/>
	<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="$(arg controllers)" ns="/yumi" />
	<arg name="hardware_interface" default="PositionJointInterface"/>


	<!-- URDF / SRDF parameters -->
	<!-- <param name="robot_description" command="$(find xacro)/xacro.py $(find yumi_description)/urdf/yumi_nogrippers.urdf.xacro prefix:=$(arg hardware_interface)"/> -->
	<param name="robot_description" command="$(find xacro)/xacro.py '$(find yumi_description)/urdf/yumi.urdf.xacro' prefix:=$(arg hardware_interface)" />
	<node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model yumi -param robot_description"  respawn="false" output="screen" />


	<!-- Configuration for debug  -->
	<arg name="debug" default="false"/>
	<arg unless="$(arg debug)" name="launch_prefix" value="" />
	<arg if="$(arg debug)" name="launch_prefix" value="gdb --ex run --args" />


	<!-- Call Gazebo -->
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
	    <arg name="paused" value="false"/>
	    <arg name="use_sim_time" value="true"/>
	    <arg name="gui" value="false"/>
	    <arg name="headless" value="false"/>
	    <arg name="debug" value="$(arg debug)" />
	</include>



	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
	    <remap from="/joint_states" to="/yumi/joint_states" />
	</node>


	<!-- Show in Rviz   -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find yumi_description)/launch/yumi.rviz"/>

</launch>

