<?xml version="1.0"?>
<launch> 
	
	<!-- Load joint controller configurations from YAML file to parameter server -->
	<rosparam file="$(find yumi_control)/config/controllers.yaml" command="load" ns="/yumi"/>
	<arg name="controllers" default="joint_state_controller joint_traj_pos_controller_l joint_traj_pos_controller_r gripper_effort_pos_controller_r gripper_effort_pos_controller_l"/>
	<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="$(arg controllers)" ns="/yumi" />


<!-- 	<group ns="left_arm">
		<rosparam file="$(find yumi_control)/config/controllers.yaml" command="load"/>
		<arg name="controllers_left" default="joint_traj_pos_controller_l gripper_effort_pos_controller_l"/>
		<node name="controller_spawner_left" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="$(arg controllers_left)" ns="left_arm"/>
		<node pkg="industrial_robot_client" type="joint_trajectory_action" name="joint_trajectory_action"/>
	</group>
	

	<group ns="right_arm">
		<rosparam file="$(find yumi_control)/config/controllers.yaml" command="load"/>
		<arg name="controllers_right" default="joint_traj_pos_controller_r gripper_effort_pos_controller_r"/>
    	<node name="controller_spawner_right" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="$(arg controllers_right)"  ns="right_arm"/>
		<node pkg="industrial_robot_client" type="joint_trajectory_action" name="joint_trajectory_action"/>
	</group>
 -->	
	
    <arg name="arms_hardware_interface" default="PositionJointInterface"/>
    <arg name="grippers_hardware_interface" default="EffortJointInterface"/>


	<!-- URDF / SRDF parameters -->
	<!-- <param name="robot_description" command="$(find xacro)/xacro.py $(find yumi_description)/urdf/yumi_nogrippers.urdf.xacro prefix:=$(arg hardware_interface)"/> -->
    <param name="robot_description" command="$(find xacro)/xacro.py '$(find yumi_description)/urdf/yumi.urdf.xacro' arms_interface:=$(arg arms_hardware_interface) grippers_interface:=$(arg grippers_hardware_interface)" />
	<node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model yumi -param robot_description"  respawn="false" output="screen" />


	<!-- Configuration for debug  -->
	<arg name="debug" default="false"/>
	<arg unless="$(arg debug)" name="launch_prefix" value="" />
	<arg if="$(arg debug)" name="launch_prefix" value="gdb --ex run --args" />


	<!-- Call Gazebo -->
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
	    <arg name="paused" value="false"/>
	    <arg name="use_sim_time" value="true"/>
	    <arg name="gui" value="false"/>
	    <arg name="headless" value="false"/>
	    <arg name="debug" value="$(arg debug)" />
	</include>



	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
	    <remap from="/joint_states" to="/yumi/joint_states" />
	</node>

	<!-- Show in Rviz   -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find yumi_description)/launch/yumi.rviz"/>


	<node pkg="topic_tools" type="relay" name="joints_relay" args="/yumi/joint_states /joint_states"/>

</launch>

