<?xml version="1.0"?>
<!-- 
  PROGRAMMER: Frederick Wachter
  DATE CREATED: 2016-05-30
  LAST MODIFIED: 2016-05-30
  PURPOSE: Provide constants and modeling macros for YuMi
  REFERENCE: https://github.com/rtkg/yumi
-->

<robot name="yumi" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Constants -->
  <xacro:property name="PI" value="3.1415926535897931"/>

  <!-- Model Properties -->
  <xacro:property name="hardware_interface" value="yumi"/>

</robot>


