<?xml version="1.0"?>
<robot name="yumi" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- Import Rviz colors -->
  <xacro:include filename="$(find yumi_description)/urdf/materials.xacro" />
  <!-- Import utilities -->
  <xacro:include filename="$(find yumi_description)/urdf/utilities.xacro" />
  <!--Import the yumi macro -->
  <xacro:include filename="$(find yumi_description)/urdf/yumi.xacro"/>
  <!--Import the yumi servo gripper macro -->
  <xacro:include filename="$(find yumi_description)/urdf/yumi_servo_gripper.xacro"/>
  <!--Import the yumi camera macro -->
  <xacro:include filename="$(find yumi_description)/urdf/yumi_camera.xacro"/>
  <!--Import the yumi box macro -->
  <!-- <xacro:include filename="$(find yumi_description)/urdf/box.xacro"/> -->

  <!-- Import Gazebo plugins -->
  <xacro:include filename="$(find yumi_description)/gazebo/gazebo.urdf.xacro"/>

  <!-- Fix to world just for testing -->
  <link name="world"/>

  <!--yumi-->
  <xacro:yumi name="yumi" hardware_interface="$(arg prefix)" parent="world">
    <origin xyz="0 0 0.1" rpy="0 0 0" />
  </xacro:yumi>

  <!--right gripper-->
  <xacro:yumi_servo_gripper name="gripper_r" hardware_interface="$(arg prefix)" parent="yumi_link_7_r">
    <origin xyz="0 0 0.007" rpy="0 0 ${PI}" />
  </xacro:yumi_servo_gripper>

  <!--left gripper-->
  <xacro:yumi_servo_gripper name="gripper_l" hardware_interface="$(arg prefix)" parent="yumi_link_7_l">
    <origin xyz="0 0 0.007" rpy="0 0 ${PI}" />
  </xacro:yumi_servo_gripper>

  <xacro:yumi_camera name="yumi_top_camera" parent="world">
    <origin xyz="0.883 -0.06 0.877" rpy="3.12 0.795 0.005" />
  </xacro:yumi_camera>

<!--   <xacro:yumi_box name="box" parent="world">
    <origin xyz="0.883 -0.06 0.877" rpy="0 0 0" />
  </xacro:yumi_box>
 -->

</robot>
