<?xml version="1.0"?>
<!-- 
  PROGRAMMER: Frederick Wachter
  DATE CREATED: 2016-05-30
  LAST MODIFIED: 2016-05-30
  PURPOSE: Import necessary files to build YuMi URDF with workspace
-->

<robot name="yumi" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!--                  		   -->
  <!--         IMPORTS         -->
  <!--                  		   -->

  <!-- Import Colors -->
  <xacro:include filename="$(find yumi_description)/urdf/materials.xacro"/>

  <!-- Import Constants and Modeling Macros -->
  <xacro:include filename="$(find yumi_description)/urdf/utilities.xacro"/>

  <!-- Import Workspace -->
  <xacro:include filename="$(find yumi_description)/urdf/workspace.xacro"/>

  <!-- Import YuMi -->
  <xacro:include filename="$(find yumi_description)/urdf/yumi.xacro"/>

  <!-- Import Right Servo Gripper -->
  <xacro:include filename="$(find yumi_description)/urdf/yumi_servo_gripper.xacro"/>

  <!-- Import Camera Assembly -->
  <xacro:include filename="$(find yumi_description)/urdf/camera_assembly.xacro"/>

  <!-- Import Gazebo Plugins -->
  <xacro:include filename="$(find yumi_description)/urdf/gazebo.urdf.xacro"/>


  <!--                  		   -->
  <!--     LINK DEFINITIONS    -->
  <!--                  		   -->

  <!-- World Fixed Link for YuMi -->
  <link name="world"/>


  <!--                  		   -->
  <!--    MACRO DEFINITIONS    -->
  <!--                  		   -->

  <!-- Define Macros for YuMi Import -->
  <xacro:yumi name="yumi" hardware_interface="${hardware_interface}" parent="world">
	  <origin xyz="0 0 0.1" rpy="0 0 0"/> <!-- Bring bottom of YuMi to (x,y) plane -->
  </xacro:yumi>

  <!-- Define Macros for Workspace Import -->
  <xacro:workspace stand_parent="yumi_body" table_parent="world">
    <origin rpy="0 0 0" xyz="-0.07 0.54 -0.013"/>
  </xacro:workspace>

  <!-- Define Macros for Right Servo Gripper Import -->
  <xacro:yumi_servo_gripper name="gripper_r" hardware_interface="${hardware_interface}" parent="yumi_link_7_r">
  	<origin xyz="0 0 0.007" rpy="0 0 ${PI}"/>
  </xacro:yumi_servo_gripper>

  <!-- Define Macros for Camera Assembly Import -->
  <xacro:camera_assembly parent="yumi_link_7_l"/>

</robot>


