<?xml version="1.0"?>
<launch>

    <rosparam file="$(find yumi_control)/config/traj_controllers.yaml" command="load" ns="/yumi_grippers"/>
    <arg name="gripper_controllers" default="gripper_effort_pos_controller_r
		                                     gripper_effort_pos_controller_l"/>
    <node name="gripper_controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="$(arg gripper_controllers)" ns="/yumi_grippers"/>

	<arg name="ip" default="192.168.125.1"/>

	<!-- the real hardware interface /-->
	<node required="true" name="grippers_hw" pkg="yumi_hw" type="grippers_hw" respawn="false" ns="yumi_grippers">
		<param name="ip" value="$(arg ip)"/>
	</node>

</launch>
